.input-wrapper {
    width: 40vw;
    padding: 10px 8px;
}

.input-wrapper input {
    width: 100%;
}

.input-wrapper label {
    font-weight: 700;
}

.input-wrapper select {
    width: 100%;
}

/* .DropDown {
  margin: 5px 5px 5px 0;
} */

.NewTask {
    background-color: antiquewhite;
}